<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Logify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/highlight/styles/default.css" />
  </head>

  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <a class="brand" href="#">Logify</a>
        </div>
        <div class="row">
          <div class="span8">
            <input class="span8" type="text" id="filter_field" 
                 placeholder="Filter Results"/>
          </div>
          <div class="span4">
            <div class="btn-group span2" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-success" id="sql_toggle">SQL</button>
              <button type="button" class="btn btn-success" id="json_toggle">JSON</button>
            </div>
            <div class="span1">
              <button id="clear_logs" class="btn span1 pull-right">Clear</button>
            </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container wrapper">
    <div class="row logs" id="log_output">
    </div>
  </div>

<script type='text/javascript' src='/jquery.js'></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/highlight/highlight.pack.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>

  </body>
</html>
