body {
    background-image: url('/billie_holiday.png');
}

.logs {
    overflow-x:scroll;
    margin-bottom:  20px;

    background-color: #FFF;

    border-width: 1px;
    border-style: solid;
    border-color: #DDD;

    font-family: monospace, "Andale Mono", courier, sans;
}

#filtered_output{
    margin-top: 100px;
    display: none;
}

#log_output {
    padding: 5px;
    padding-bottom: 1200px;
}

.dummy {
    height: 100px;
    width: 100%;
}

#filter_field {
    height:    28px;
    font-size: 22px;
    width:     100%;
}

.filtered {
    font-size: 1.1em;
}

.buttons {
    margin-left: 5px;
}

.striped {
    background-color: #F7F7F7;
}

pre {
    margin-top: 6px;
}

.line {
    margin-top: 12px;
}
