body {
    background-image: url('/billie_holiday.png');
}

.logs {
    overflow-x:scroll;
    margin-top: 100px;
    padding: 5px;
    padding-bottom: 1200px;
    margin-bottom:  20px;

    background-color: #FFF;

    border-width: 1px;
    border-style: solid;
    border-color: #DDD;

    font-family: monospace, "Andale Mono", courier, sans;
}

#filter_field {
    height:    32px;
    font-size: 22px;
}

.filtered {
    font-size: 1.1em;
}

.striped {
    background-color: #F7F7F7;
}

.line {
    margin-top: 12px;
}
